bin/
obj/
.vs/
.idea/
.mono/
*.DotSettings.user
**/packages/*.suo
*.csproj.user
*.csproj.*.user
*.shproj.user
*.shproj.*.user
*.vcxproj.user
*.resources
*.userprefs
.DS_Store
Thumbs.db
xcuserdata
*.xcworkspace
!default.xcworkspace
.vs/
*.pubxml.user
*.VC.db
*.VC.opendb